*{
    box-sizing: border-box;
}
.cont{
    background-color: lightblue;
    max-width: max-content;
    margin: auto;
    padding: 30px ;
    border: 1px solid black ;
    border-radius: 50px;
    
}
.bbb{
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 100%;
    background-color: rgb(120, 236, 120);
    border-radius: 5px;
}
button a{
    text-decoration: none;
    
    
}

label{
    display: block;
    margin: 10px;
    font-size: 20px;
}
input{
    display: block;
    margin: 10px;
    font-size: 20px;

}
h3,h1{
    text-align: center;
}
h3{
   font-size: 30px; 
}
body{
    padding: 100px 0px;
    background-color: yellow;
}

